* {
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  font-size: 2rem;
  color: white;
}

/* MENU STYLES */
#menu {
  position: absolute;
  top: 10%;
  right: .2;
  z-index: 1;

  background-color: rgb(15, 39, 59);
}

.menu-item:first-of-type:after {
  content: '';

  position: absolute;
  top: -2%;
  right: 0;
  transform: rotate(-225deg);

  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid whitesmoke;
}

.menu-item {
  border: 2px solid black;
  width: 25vw;
  padding: 2rem;
  background-color: whitesmoke;
  list-style-type: none;
}

.menu-item:hover {
  background-color: rgba(245, 245, 245, 0.616);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.76);
  font-weight: bold;
}

.hidden {
  display: none;
}

/* MODAL STYLES */
.modal {
  border: 2px solid black;
  margin: 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  .modal-content {
    font-size: 1.2rem;
    border: 2px solid black;
    background-color: rgba(24, 9, 9, 0.342);
    
    height: 20vh;
    width: 40vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

  }

  .modal-exit {
    background-color: red;
  }

  button {
    border: none;
    background-color: rgba(44, 42, 42, 0.178);

    padding: 2rem;
    font-size: 1.2rem;
  }

  button:hover {
    background-color: rgb(210, 216, 233);
    cursor: pointer;
  }
}
